@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

$headerColor: #F4F4F4;
$textColor: rgba(255, 255, 255, 0.6);
$bgColor: #282828;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

input {
  box-shadow: inset 0px 0px 20px 0px $bgColor;
  &:focus {
    box-shadow: 0 0 7px 1px $headerColor;
  }
}

.header {
  height: 5vw;
  position: relative;
  z-index: 3;
  display: flex;
  align-content: center;
  background-color: $bgColor;
  border-bottom: 0.2vw solid $headerColor;
}

.header__container {
  width: 84vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-weight: bold;
  font-size: 3vw;
  color: $headerColor;
}

.header__settingsBtn {
  height: 2vw;
  cursor: pointer;
}

.header__createNewTaskBtn {
  height: 2.15vw;
  width: 10vw;
  position: absolute;
  left: 50%;
  top: 2.83vw;
  margin-left: -4vw;
  background-color: $bgColor;
  border-radius: 1vw 1vw 0 0;
  border: 0.2vw solid $headerColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: $headerColor;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
  }
}

.main {
  min-height: 89.7vh;
  background-color: $bgColor;
}

.createNewTask {
  height: 35vw;
  width: 84vw;
  position: absolute;
  top: -30vw;
  left: 8vw;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgColor;
  border-radius: 0 0 1vw 1vw;
  border: 0.2vw solid $headerColor;
  transition-duration: 0.3s;
}

.createNewTask--open {
  animation: openCreateNewTaskAnimation linear;
  top: 4.85vw;
}

.createNewTask__form {
  height: 27vw;
  width: 75vw;
  display: flex;
  justify-content: space-around;
}

.createNewTask__textContainer {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-around;
}

.createNewTask__title {
  width: 34vw;
  height: 3vw;
  margin-bottom: 1vw;
  padding: 1vw;
  border-radius: 0.3vw;
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
  outline: none;
}

.createNewTask__description {
  width: 34vw;
  height: 19vw;
  padding: 1vw;
  border-radius: 0.3vw;
  border: none;
  font-size: 1.1vw;
  outline: none;
  resize: none;
  box-shadow: inset 0px 0px 20px 0px $bgColor;
  &:focus {
    box-shadow: 0 0 7px 1px $headerColor;
  }
}

.createNewTask__dataContainer {
  height: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.createNewTask__date {
  height: 3vw;
  width: 9vw;
  margin-bottom: 1vw;
  padding: 0 0.5vw;
  border-radius: 0.3vw;
  border: none;
  font-size: 1.1vw;
  outline: none;
  cursor: pointer;
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
  &::-webkit-datetime-edit-day-field, &::-webkit-datetime-edit-month-field, &::-webkit-datetime-edit-year-field {
    &:focus {
      background: $bgColor;
    }
  }
}

.createNewTask__colorsBox {
  height: 3vw;
  width: 9vw;
  padding: 0 0.4vw 0 2.5vw;
  border-radius: 0.3vw;
  border: none;
  background-color: #ffffff;
  font-size: 1.1vw;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0px 0px 20px 0px $bgColor;
  &:focus {
    box-shadow: 0 0 7px 1px $headerColor;
  }
}

.createNewTask__colors {
  width: 9vw;
  top: 14.7vw;
  position: absolute;
  display: none;
  list-style-type: none;
  border-radius: 0.3vw;
}

.createNewTask__color {
  height: 3vw;
  margin: 0.3vw 0;
  border-radius: 0.3vw;
  border: none;
  font-size: 1.1vw;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0px 0px 20px 0px $bgColor;
  &:hover {
    box-shadow: 0 0 7px 1px $headerColor;
  }
}

.createNewTask__color--red {
  background-color: #FF0000;
}

.createNewTask__color--orange {
  background-color: #ffae00;
}

.createNewTask__color--green {
  background-color: #10C200;
}

.createNewTask__itemDescription {
  font-size: 1.3vw;
  color: $headerColor;
}

.createNewTask__submitBtn {
  height: 3vw;
  width: 9vw;
  position: absolute;
  bottom: 3.6vw;
  right: 12.3vw;
  margin: 0.3vw 0;
  border-radius: 0.3vw;
  border: none;
  font-size: 1.3vw;
  color: $headerColor;
  border: none;
  background-color: #FF0000;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 7px 1px $headerColor;
  }
}

.tasks {
  height: auto;
  width: 84vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: default;
}

.tasks__taskContainer {
  height: auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
}

.tasks__headerBox {
  height: 5vw;
  width: 70vw;
  margin: 3vw auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bgColor;
  box-shadow: 0 0 7px 1px $headerColor;
  border: 0.2vw solid $headerColor;
  border-radius: 1.3vw;
  z-index: 1;
}

.tasks__dataBox {
  display: flex;
  align-items: center;
}

.tasks__importanceBox {
  height: 3vw;
  width: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 20px 0px $bgColor;
}

.tasks__date {
  font-size: 2.4vw;
  font-weight: bold;
  color: $headerColor;
}

.tasks__openTaskBtn {
  height: 2vw;
  width: 2vw;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $headerColor;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 7px 1px $headerColor;
  }
}

.tasks__openTaskBtnIcon {
  height: 1vw;
  transform: rotate(90deg);
  transition-duration: 300ms;
}

.tasks__openTaskBtnIcon--opened {
  transform: rotate(270deg);
}

.tasks__list {
  height: 0;
  width: 63.5vw;
  margin-top: -4vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bgColor;
  box-shadow: 0 0 7px 1px $headerColor;
  border: 0.2vw solid $headerColor;
  border-radius: 1.3vw;
  transition-duration: 300ms;
}

.tasks__task {
  width: 60vw;
  margin: 1vw 0;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
}

.tasks__task--confirm {
  opacity: 0.5;
}

.tasks__data {
  width: 52vw;
}

.tasks__title {
  font-size: 1.8vw;
  font-weight: bold;
  color: $headerColor;
  line-height: 1.6vw;
  text-transform: capitalize;
}

.tasks__description {
  font-size: 1vw;
  color: $textColor;
}

.tasks__confirmationBtn {
  display: inline-block;
  width: 5vw;
  height: 2.5vw;
  border-radius: 2vw;
  background-color: #FF0000;
  z-index: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  box-shadow: inset 0px 0px 20px 0px $bgColor;
  &::after {
    content: "";
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    background-color: $headerColor;
    top: 0.1vw;
    left: 0.1vw;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
  }
}

.switchOn {
  background-color: #10C200;
  &::after {
    left: 2.55vw;
  }
}

@keyframes openCreateNewTaskAnimation {
  0% {
    top: -30vw;
  }
  100% {
    top: 4.85vw;
  }
}