.container {
    margin: 10vw 10vw 0 15vw;
    max-width: 68.45vw;
    border-radius: 3.3vw;
    background-color: #faf4f4;
    box-shadow: 0px 0px 20px 0px rgba(13, 13, 13, 0.5);
    animation: opacityAnimation  2s;
    
}

.avatar {
    margin-left: 11vw;
    display: flex;
    justify-content: center;

}

.avatar img {
    width: 12vw;
    height: 12vw;
    margin: 3vw;
    border-radius: 7vw;
    border: 2px dashed #ffffff;
    box-shadow: 0 0 20px 0 rgba(13, 13, 13, 0.5);
}

.header {
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #111111;

}

.head {
    display: flex;
    flex-direction: column;
}

.head__name {
    margin: 2.8vw 0 0.5vw 1vw;
    width: 100%;
    font-family: 'Saira Stencil One', cursive;
    font-size: 2.5vw;
    text-align: center;
    color: #faf4f4;

}

.icon {
    margin-left: 2vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
    color: #ffffff;
    text-decoration: none;
}

.head__name__git__image {
    margin-right: 1vw;
    font-size: 2.3vw !important;
}

.head__name__telegram__image {
    margin-right: 1vw;
    font-size: 1.97vw !important;
}

.column__name {
    margin: 2vw 0 2vw 0;
    border-top: 0.1vw dashed #000000;
    border-bottom: 0.1vw dashed #000000;
    text-align: center;
}

.column__name__text {
    margin: 1vw;
    display: block;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.active {
    background-color: #8d8b8b;
}

.education__name {
    cursor: pointer;
    margin: 0 0 2vw 0;
}

.education__name:hover {
    background-color: #8d8b8b;
}

.education__table {
    display: none;
    animation: opacityAnimation  2s;
}

.education__table__ul__li {
    display: block;
}

.place {
    font-size: 1.5vw;
    font-family: 'Lexend Exa', bold;
    text-decoration: underline;
}

.years {
    margin-bottom: 1vw;
    font-size: 1.2vw;
    font-family: 'Lexend Exa', sans-serif;
}

.projects {
    height: 36vw;
}

.projects__slider {
    display: flex;
    justify-content: space-evenly;
}

.projects__slider__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.projects__slider__arrow:active {
    color: dodgerblue;
}

.projects__slider__image {
    height: 24vw;
    width: 20vw;
    background-image: url(assets/images/repair.png);
    background-size: cover;
    cursor: pointer;
}

.projects__slider__info__show_description {
    display: none;
    margin: 2vw;
    height: 4vw;
    width: 34vw;
    border: 0.1vw dashed #000000;
    text-align: center;
    cursor: pointer;
}

.projects__slider__info__show_description:hover {
    background-color: #8d8b8b;
}

.projects__slider__info__show_description__text {
    vertical-align: sub;
}

.projects__slider__info {
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 1.3vw;
    word-break: break-word;
}

.projects__slider__info__name {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 2vw;
}

.projects__slider__info__btn {
    margin-left: auto;
    width: 30vw;
    border: solid;
    text-align: center;
}

.projects__slider__info__btn__text {
    vertical-align: super;
}

.projects__slider__swipe {
    display: none;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 2.3vw;
}

.footer {
    height: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #111111;

}

@keyframes opacityAnimation {
    0% {opacity: 0};
    100% {opacity: 1};
}

@media(max-width: 675px) {
    body {
        margin: 0;
    }

    .container {
        margin: 0;
        max-width: 100%;
        border-radius: 0;
    }

    .header {
        border-radius: 0;
    }

    .avatar {
        margin-left: 19vw;
    }

    .avatar img {
        width: 18vw;
        height: 18vw;
        border-radius: 10vw;
    }

    .head__name {
        font-size: 3.5vw;
    }

    .icon {
        margin-left: 6vw;
        font-size: 2.5vw;
    }

    .head__name__git__image {
        font-size: 3.3vw !important;
    }

    .head__name__telegram__image {
        font-size: 2.9vw !important;
    }

    .column__name {
        border-top: 0.2vw dashed #000000;
        border-bottom: 0.2vw dashed #000000;
    }

    .column__name__text {
        font-size: 3vw;
    }

    .place {
        font-size: 2.5vw;
    }

    .years {
        font-size: 2.2vw;
    }

    .projects__slider__info__btn {
        display: none;
    }

    .projects__slider {
        flex-direction: column;
        align-items: center;
    }

    .projects__slider__info__name {
        text-align: center;
        font-size: 3vw;
    }

    .projects__slider__info__text {
        position: absolute;
        z-index: 1;
        top: 26vw;
        display: none;
        font-size: 3vw;
        color: #ffffff;
    }

    .projects__slider__info__show_description {
        display: block;
    }

    .projects__slider__image {
        height: 44vw;
        width: 100%;
    }


    .projects__slider__arrow {
        display: none;
    }

    .projects__slider__info {
        position: relative;
        width: 59vw;
        align-items: center;
        font-size: 2.3vw;
    }

    .projects__slider__swipe {
        display: block;
    }

    .footer {
        border-radius: 0;
    }
}