$textColor: #e4e4e4;
$primaryColor: #00C4F0;
$bgDark: #2A2A2A;
$bgLightGradient: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
$orangeGradient: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);

$fontDesc: arodoba;
$fontTitle: NextArt;