@import '../../../assets/styles/variables.scss';

.slider__item {
  width: 800px;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    height: 100%;
    width: 97vw;
    position: relative;
  }
}

.slider__project-image {
  width: 500px;
  height: 500px;

  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 29px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;

  @media screen and (max-width: 1100px) {
    width: 600px;
    height: 600px;

    margin: 0 auto;
    
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

.slider__project-info {
  width: 300px;
  height: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: $textColor;

  @media screen and (max-width: 1100px) {
    width: 600px;
    height: 600px;

    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: none;
    background: rgba(0, 0, 0, 0.9);
  }

  @media screen and (max-width: 640px) {
    width: 97vw;
    height: 95vw;
    padding: 6.25vw;
  }
}

.slider__project-name {
  font-size: 24px;

  @media screen and (max-width: 640px) {
    font-size: 5vw;
  }
}

.slider__project-desc {
  height: 100%;
  
  margin-left: 30px;
  align-self: flex-start;
  font-size: 18px;

  & > * {
    margin: 30px 0;
  }

  @media screen and (max-width: 640px) {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2.81vw;
  }
}

.slider__technology-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.slider__technology {

}

.slider__pages {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.slider__project-page {
  margin: 10px 0;

  @media screen and (max-width: 640px) {
    margin: 1.56vw 0;
  }
}

.slider__page-count {
  display: flex;
  align-items: center;
}

.slider__github-link {
  width: max-content;

  display: flex;
  align-items: center;
  text-decoration: underline;
  color: orange;

  &:hover {
    text-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }

  &:active {
    color: $primaryColor;
    text-shadow: 0 0 25px $primaryColor;
  }
}

.slider__adaptive {
  display: flex;
  align-items: center;
}

.slider__btn-open {
  background: none;
  border: none;
  color: orange;
  font-size: 18px;
  
  @media screen and (max-width: 640px) {
    font-size: 4vw;
  }
}