.watch {
  height: 43.75vw;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/images/main/watch/watchBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 1000px) {
  .watch {
    height: 50.4vw;
    background-size: 120vw;
  }
}

@media screen and (max-width: 640px) {
  .watch {
    height: 58.21vw;
    padding-top: 5.31vw;
  }
}

@media screen and (max-width: 320px) {
  .watch {
    height: 69.13vw;
    padding-top: 10.63vw;
  }
}

.watch__container {
  width: 72.45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1000px) {
  .watch__container {
    width: 81.8vw;
  }
}

@media screen and (max-width: 640px) {
  .watch__container {
    width: 94.4vw;
  }
}

.watch__img {
  width: 35.81vw;
  height: 29.63vw;
  margin-top: 0.75vw;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .watch__img {
    width: 45.3vw;
    height: 37.45vw;
    margin-top: -1.15vw;
  }
}

@media screen and (max-width: 640px) {
  .watch__img {
    width: 45.3vw;
    height: 37.8vw;
    margin-top: 1.8vw;
  }
}

@media screen and (max-width: 320px) {
  .watch__img {
    width: 46.3vw;
    height: 38vw;
    margin-top: 7vw;
  }
}

.watch__btn {
  width: 18.63vw;
  height: 3.38vw;
  margin-top: 3.77vw;
  margin-right: 6.17vw;
  padding-bottom: 0.05vw;
  padding-left: 0.3vw;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 1.56vw;
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  color: #ffffff;
  text-transform: uppercase;
}

.watch__btn:hover {
  background: #E47209;
}

.watch__btn:active {
  background: #4B9200;
}

.watch__btn:disabled {
  background: #767474;
}

@media screen and (max-width: 1000px) {
  .watch__btn {
    width: 29.8vw;
    height: 5.4vw;
    margin-top: 3.9vw;
    margin-right: 4.6vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    border-radius: 2.5vw;
    font-size: 1.54vw;
  }
}

@media screen and (max-width: 640px) {
  .watch__btn {
    width: 46.56vw;
    height: 8.44vw;
    margin-top: -1.1vw;
    margin-right: 47.6vw;
    padding-left: 2.5vw;
    border-radius: 3.91vw;
    -webkit-border-radius: 3.91vw;
    -moz-border-radius: 3.91vw;
    -ms-border-radius: 3.91vw;
    -o-border-radius: 3.91vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .watch__btn {
    width: 93.4vw;
    height: 16.7vw;
    padding-left: 5vw;
    position: absolute;
    top: 76.5vw;
    left: 3.3vw;
    border-radius: 7.91vw;
    -webkit-border-radius: 7.91vw;
    -moz-border-radius: 7.91vw;
    -ms-border-radius: 7.91vw;
    -o-border-radius: 7.91vw;
    font-size: 5vw;
  }
}

.backstage {
  height: 42.69vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/main/backstage/backstageBackground.png);
  background-repeat: no-repeat;
  background-position-x: 87.1vw;
  background-position-y: 0.6vw;
  background-size: 12.85vw;
}

@media screen and (max-width: 1000px) {
  .backstage {
    height: 63.69vw;
    background: none;
  }
}

@media screen and (max-width: 640px) {
  .backstage {
    height: 70vw;
    background-image: url(../../assets/images/main/backstage/backstageBackground.png);
    background-repeat: no-repeat;
    background-position-x: 80vw;
    background-position-y: -1vw;
    background-size: 24.9vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage {
    height: 154vw;
    background-position-x: 90vw;
    background-position-y: 12vw;
    background-size: 23vw;
  }
}

.backstage__container {
  width: 72.45vw;
  height: 25.19vw;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .backstage__container {
    width: 94.1vw;
    height: 43.7vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__container {
    width: 93.8vw;
    height: 51vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage__container {
    width: 93.8vw;
    height: 153.5vw;
  }
}

.backstage__img {
  width: 38.06vw;
  height: 25.19vw;
  background: url(../../assets/images/main/backstage/backstageImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .backstage__img {
    width: 45.5vw;
    height: 40.8vw;
    margin-top: 1vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__img {
    display: none;
  }
}

.backstage__textBox {
  width: 29.06vw;
  color: #333B41;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .backstage__textBox {
    width: 45.4vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__textBox {
    width: 75.4vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage__textBox {
    width: 92.4vw;
    margin-top: 32.5vw;
  }
}

.backstage__title {
  font-size: 3vw;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 1000px) {
  .backstage__title {
    font-size: 4.8vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__title {
    margin-left: 0.6vw;
    font-size: 7.5vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage__title {
    margin-left: 0vw;
    font-size: 7.5vw;
  }
}

.backstage__titleDescription {
  margin-top: 1.4vw;
  font-size: 1vw;
  line-height: 130%;
}

@media screen and (max-width: 1000px) {
  .backstage__titleDescription {
    margin-top: 2.2vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__titleDescription {
    margin-top: 3.4vw;
    font-size: 2.50vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage__titleDescription {
    margin-top: 3.4vw;
    margin-left: 0.5vw;
    font-size: 5vw;
  }
}

.backstage__secondTitle {
  margin-top: 3.38vw;
  font-size: 1.50vw;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 1000px) {
  .backstage__secondTitle {
    margin-top: 5.38vw;
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__secondTitle {
    margin-top: 4.7vw;
    margin-left: 0.6vw;
    font-size: 3.75vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage__secondTitle {
    margin-top: 6.2vw;
    font-size: 7.5vw;
  }
}

.backstage__secondTitleDescription {
  margin-top: 2.05vw;
  font-size: 1vw;
  line-height: 140%;
}

@media screen and (max-width: 1000px) {
  .backstage__secondTitleDescription {
    margin-top: 3.32vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .backstage__secondTitleDescription {
    margin-top: 3vw;
    font-size: 2.50vw;
  }
}

@media screen and (max-width: 320px) {
  .backstage__secondTitleDescription {
    margin-top: 2.55vw;
    font-size: 5vw;
  }
}

.pets {
  height: 71.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/main/pets/backgroundPalm.png), url(../../assets/images/main/pets/backgroundStrelitzia.png);
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}

@media screen and (max-width: 1000px) {
  .pets {
    height: 110.7vw;
    background-image: url(../../assets/images/main/pets/backgroundPalmSmall.png), url(../../assets/images/main/pets/backgroundStrelitzia.png);
    background-size: 19.5vw, 24vw;
  }
}

@media screen and (max-width: 640px) {
  .pets {
    height: 161vw;
    background-image: url(../../assets/images/main/pets/backgroundPalmSmall.png), url(../../assets/images/main/pets/backgroundStrelitzia.png);
    background-position: -9.4vw 129.4vw, bottom right;
    background-size: 30.5vw, 27vw;
  }
}

@media screen and (max-width: 320px) {
  .pets {
    height: 487.8vw;
    background-position: -4.4vw 465vw, 78.6vw 468vw;
    background-size: 22.5vw, 27vw;
  }
}

.pets__container {
  height: 59.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .pets__container {
    width: 96.1vw;
    height: 89.7vw;
    position: relative;
  }
}

@media screen and (max-width: 640px) {
  .pets__container {
    height: 144.7vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__container {
    height: 450.5vw;
  }
}

.pets__btnSlider {
  height: 3.88vw;
  width: 3.88vw;
  margin-bottom: 0.3vw;
  margin: 0 1.25vw 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.pets__btnSlider:active {
  background: #4B9200;
}

@media screen and (max-width: 1000px) {
  .pets__btnSlider {
    height: 6.20vw;
    width: 6.20vw;
    position: absolute;
    top: 40.1vw;
  }
  .pets__btnSlider:first-child {
    left: 32.3vw;
  }
  .pets__btnSlider:last-child {
    right: 32.3vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__btnSlider {
    height: 9.69vw;
    width: 9.69vw;
    position: absolute;
    top: 62.9vw;
  }
  .pets__btnSlider:first-child {
    left: 35vw;
  }
  .pets__btnSlider:last-child {
    right: 35vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__btnSlider {
    display: none;
  }
}

.pets__imgBtnSlider {
  height: 0.7vw;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .pets__imgBtnSlider {
    height: 1vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__imgBtnSlider {
    height: 1.5vw;
  }
}

.pets__sliderContainer {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.pets__sliderContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 1000px) {
  .pets__sliderContainer {
    height: 90vw;
    margin: 6vw 0 0 0;
  }
}

@media screen and (max-width: 640px) {
  .pets__sliderContainer {
    height: 135vw;
    margin: 6.5vw 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .pets__sliderContainer {
    height: 437.5vw;
    margin: 9vw 0 0 0;
    overflow: scroll;
  }
}

.pets__slider {
  width: 72.38vw;
  height: 55vw;
  display: flex;
  justify-content: space-between;
  transition: transform .5s;
  will-change: transform;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .pets__slider {
    width: 94.1vw;
    height: 90vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__slider {
    height: 135vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__slider {
    height: 437.5vw;
    display: grid;
    grid-template-columns: 89.1vw;
    grid-template-rows: repeat(4, 435vw);
    grid-gap: 6.8vw;
    justify-content: center;
  }
}

.pets__sliderItem {
  width: 72.38vw;
  height: 54.50vw;
  display: grid;
  grid-template-rows: repeat(2, 22.88vw);
  grid-gap: 5vw 1.8vw;
  grid-auto-flow: column;
}

@media screen and (max-width: 1000px) {
  .pets__sliderItem {
    width: 94.1vw;
    height: 89.5vw;
    grid-template-rows: repeat(2, 35.4vw);
    grid-gap: 9.4vw 2.8vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__sliderItem {
    height: 132.5vw;
    grid-template-rows: repeat(2, 44.7vw);
    grid-gap: 21.5vw 4.7vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__sliderItem {
    height: 435vw;
    width: 89.1vw;
    grid-template-rows: repeat(4, 89.3vw);
    grid-gap: 20.6vw 6.8vw;
  }
}

.pets__itemContainer {
  height: 26.63vw;
  margin-bottom: 1.25vw;
}

@media screen and (max-width: 1000px) {
  .pets__itemContainer {
    height: 35.4vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemContainer {
    height: 51.88vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemContainer {
    height: 103.75vw;
  }
}

.pets__itemContainer:hover .pets__itemBorder {
  height: 22.89vw;
  border: 0.06vw solid #FE9013;
}

.pets__itemContainer:hover .pets__itemBorder .pets__itemInfo {
  width: 22.7vw;
  color: #FE9013;
  background-color: rgba(0, 0, 0, 0.7);
}

.pets__itemContainer:hover .pets__itemBorder .pets__itemImg {
  transform: scale(1.03);
}

@media screen and (max-width: 1000px) {
  .pets__itemContainer:hover .pets__itemBorder {
    height: 29.5vw;
  }
  .pets__itemContainer:hover .pets__itemBorder .pets__itemInfo {
    width: 29.2vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemContainer:hover .pets__itemBorder {
    height: 44.7vw;
  }
  .pets__itemContainer:hover .pets__itemBorder .pets__itemInfo {
    width: 44.3vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemContainer:hover .pets__itemBorder {
    height: 89.3vw;
    border-radius: 1.31vw;
  }
  .pets__itemContainer:hover .pets__itemBorder .pets__itemInfo {
    width: 88.5vw;
  }
}

.pets__itemBorder {
  width: 22.88vw;
  height: 26.63vw;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.31vw;
  border: 0.06vw solid #0000;
  border-top-left-radius: 0.31vw;
  border-top-right-radius: 0.31vw;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%) border-box;
  transition-duration: 500ms;
}

@media screen and (max-width: 1000px) {
  .pets__itemBorder {
    width: 29.5vw;
    height: 35.4vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemBorder {
    width: 44.7vw;
    height: 51.88vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemBorder {
    width: 89.19vw;
    height: 103.75vw;
    border-radius: 1.31vw;
  }
}

.pets__itemImg {
  width: 22.75vw;
  height: 22.75vw;
  z-index: 1;
  border-radius: 0.31vw;
  transition-duration: 300ms;
}

@media screen and (max-width: 1000px) {
  .pets__itemImg {
    width: 29.3vw;
    height: 29.3vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemImg {
    width: 44.4vw;
    height: 44.3vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemImg {
    width: 88.7vw;
    height: 88.7vw;
    border-radius: 1.31vw;
    -webkit-border-radius: 1.31vw;
    -moz-border-radius: 1.31vw;
    -ms-border-radius: 1.31vw;
    -o-border-radius: 1.31vw;
  }
}

.pets__itemInfo {
  height: 4vw;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .pets__itemInfo {
    height: 6vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemInfo {
    height: 7vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemInfo {
    height: 15vw;
  }
}

.pets__itemText {
  margin-left: 0.9vw;
}

@media screen and (max-width: 1000px) {
  .pets__itemText {
    margin-left: 1.5vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemText {
    margin-left: 1.9vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemText {
    margin-left: 3.8vw;
  }
}

.pets__itemName {
  width: 18.38vw;
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .pets__itemName {
    width: 22.38vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemName {
    width: 36vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemName {
    width: 72.3vw;
    font-size: 4vw;
  }
}

.pets__itemDescription {
  width: 18.38vw;
  font-weight: 300;
  font-size: 0.94vw;
  line-height: 120%;
}

@media screen and (max-width: 1000px) {
  .pets__itemDescription {
    width: 22.38vw;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemDescription {
    width: 22.38vw;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemDescription {
    width: 70vw;
    font-size: 3.6vw;
  }
}

.pets__itemEat {
  width: 3.19vw;
  height: 2.38vw;
}

@media screen and (max-width: 1000px) {
  .pets__itemEat {
    width: 4.6vw;
    height: 3.8vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__itemEat {
    width: 5.6vw;
    height: 4.8vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__itemEat {
    width: 10.2vw;
    height: 9.6vw;
  }
}

.pets__btnChoose {
  width: 18.63vw;
  height: 3.38vw;
  margin-top: 2.5vw;
  padding-left: 0.2vw;
  border: none;
  border-radius: 1.56vw;
  background: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  color: #ffffff;
  text-transform: uppercase;
}

.pets__btnChoose:hover {
  background: #E47209;
}

.pets__btnChoose:active {
  background: #4B9200;
}

.pets__btnChoose:disabled {
  background: #767474;
}

@media screen and (max-width: 1000px) {
  .pets__btnChoose {
    width: 29.8vw;
    height: 5.4vw;
    margin-top: 1.6vw;
    margin-right: 0;
    padding: 0;
    border-radius: 2.5vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .pets__btnChoose {
    width: 46.56vw;
    height: 8.44vw;
    margin-top: -8.1vw;
    margin-right: 0;
    padding-left: 0.5vw;
    border-radius: 3.91vw;
    -webkit-border-radius: 3.91vw;
    -moz-border-radius: 3.91vw;
    -ms-border-radius: 3.91vw;
    -o-border-radius: 3.91vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .pets__btnChoose {
    width: 93.4vw;
    height: 16.7vw;
    margin-top: 1.8vw;
    border-radius: 7.91vw;
    -webkit-border-radius: 7.91vw;
    -moz-border-radius: 7.91vw;
    -ms-border-radius: 7.91vw;
    -o-border-radius: 7.91vw;
    font-size: 5vw;
  }
}

.friend {
  height: 62.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

@media screen and (max-width: 1000px) {
  .friend {
    height: 87.6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend {
    height: 121.9vw;
  }
}

@media screen and (max-width: 320px) {
  .friend {
    height: 338.2vw;
  }
}

.friend__container {
  height: 52.19vw;
  width: 72.50vw;
  margin-bottom: 1.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 1.25vw;
}

@media screen and (max-width: 1000px) {
  .friend__container {
    height: 79.6vw;
    width: 94vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__container {
    height: 115.7vw;
    width: 100vw;
    margin: 0;
    border-radius: 3.13vw;
    -webkit-border-radius: 3.13vw;
    -moz-border-radius: 3.13vw;
    -ms-border-radius: 3.13vw;
    -o-border-radius: 3.13vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__container {
    height: 325.7vw;
    width: 94vw;
    margin: 0;
    border-radius: 6.13vw;
    -webkit-border-radius: 6.13vw;
    -moz-border-radius: 6.13vw;
    -ms-border-radius: 6.13vw;
    -o-border-radius: 6.13vw;
  }
}

.friend__textBox {
  margin-top: 2.55vw;
  margin-left: 2.3vw;
}

@media screen and (max-width: 1000px) {
  .friend__textBox {
    width: 89vw;
    margin-top: 3vw;
    margin-left: 4.95vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__textBox {
    width: 95vw;
    margin-top: 1.3vw;
    margin-left: 1vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__textBox {
    width: 93vw;
    margin-top: 6.5vw;
  }
}

.friend__title {
  margin-right: 2vw;
  font-weight: 400;
  font-size: 3vw;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}

@media screen and (max-width: 1000px) {
  .friend__title {
    margin-right: 5vw;
    font-size: 4.8vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__title {
    margin-right: 1vw;
    font-size: 6.56vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__title {
    margin-right: 1vw;
    font-size: 7.50vw;
  }
}

.friend__info {
  margin-top: 2vw;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 120%;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .friend__info {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__info {
    margin-top: 3.4vw;
    font-size: 3.44vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__info {
    margin-top: 3.4vw;
    margin-left: -2vw;
    font-size: 5.63vw;
    text-align: center;
  }
}

.friend__covid {
  margin-top: 2.5vw;
  font-weight: 500;
  font-size: 1vw;
  line-height: 130%;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .friend__covid {
    width: 80vw;
    margin-top: 2.1vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__covid {
    width: 94vw;
    margin-top: 3.1vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__covid {
    display: none;
  }
}

.friend__support {
  margin-top: 0.66vw;
  width: 53.94vw;
  font-weight: 400;
  font-size: 1vw;
  line-height: 130%;
  color: #333B41;
}

.friend__support a {
  padding-left: 0.1vw;
  padding-bottom: 0.1vw;
  color: #333B41;
  border-bottom: 1px solid #FE9013;
}

.friend__support a:hover {
  color: #FE9013;
}

@media screen and (max-width: 1000px) {
  .friend__support {
    width: 79.94vw;
    margin-top: 1.2vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__support {
    width: 92.94vw;
    margin-top: 1.7vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__support {
    display: none;
  }
}

.friend__roadBox {
  margin-top: 3.75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .friend__roadBox {
    margin-top: 3.9vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadBox {
    margin-top: 4.7vw;
    position: relative;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadBox {
    margin-top: 5.9vw;
  }
}

.friend__roadBoxTitle {
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 130%;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .friend__roadBoxTitle {
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadBoxTitle {
    font-size: 5.63vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadBoxTitle {
    font-size: 7.50vw;
  }
}

.friend__road {
  margin-top: 2.45vw;
  width: 47.8vw;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .friend__road {
    margin-top: 3.9vw;
    width: 76.4vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__road {
    width: 91.78vw;
    margin-top: 3vw;
    margin-right: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__road {
    width: 91.78vw;
    height: 226.2vw;
    margin-top: 5.8vw;
    margin-right: 0vw;
    flex-direction: column;
    align-items: center;
  }
}

.friend__roadItem {
  width: 10.50vw;
  height: 15.25vw;
}

@media screen and (max-width: 1000px) {
  .friend__roadItem {
    width: 16.8vw;
    height: 24.4vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadItem {
    width: 26.25vw;
    height: 38.13vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadItem {
    width: 52.5vw;
    height: 72.19vw;
  }
}

.friend__roadItemImgContainer {
  width: 10.50vw;
  height: 10.50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.06vw solid #0000;
  border-radius: 0.31vw;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%) border-box;
}

@media screen and (max-width: 1000px) {
  .friend__roadItemImgContainer {
    width: 16.8vw;
    height: 16.8vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadItemImgContainer {
    width: 26.25vw;
    height: 26.25vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadItemImgContainer {
    width: 52.5vw;
    height: 52.5vw;
    border-radius: 1.31vw;
    -webkit-border-radius: 1.31vw;
    -moz-border-radius: 1.31vw;
    -ms-border-radius: 1.31vw;
    -o-border-radius: 1.31vw;
  }
}

.friend__roadItemImgPay {
  height: 3.75vw;
}

@media screen and (max-width: 1000px) {
  .friend__roadItemImgPay {
    height: 6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadItemImgPay {
    height: 9.6vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadItemImgPay {
    height: 18.6vw;
  }
}

.friend__roadItemImgZoo {
  height: 6vw;
  margin-top: 0.1vw;
}

@media screen and (max-width: 1000px) {
  .friend__roadItemImgZoo {
    height: 9.7vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadItemImgZoo {
    height: 15vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadItemImgZoo {
    height: 30vw;
  }
}

.friend__roadItemImgMonkey {
  height: 4.5vw;
}

@media screen and (max-width: 1000px) {
  .friend__roadItemImgMonkey {
    height: 7.3vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadItemImgMonkey {
    height: 11.4vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadItemImgMonkey {
    height: 22.4vw;
  }
}

.friend__roadItemDescription {
  width: 10.50vw;
  margin-top: 1.88vw;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .friend__roadItemDescription {
    width: 17.5vw;
    margin-top: 3vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadItemDescription {
    width: 26.5vw;
    margin-top: 4.7vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadItemDescription {
    width: 50vw;
    margin-top: 3.2vw;
    font-size: 5vw;
  }
}

.friend__roadArrowTablet {
  display: none;
}

@media screen and (max-width: 640px) {
  .friend__roadArrowTablet {
    width: 14vw;
    position: absolute;
    top: 7.9vw;
    display: block;
    left: 21.3vw;
  }
  .friend__roadArrowTablet:nth-child(2) {
    left: 54vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__roadArrowTablet {
    width: 28vw;
    top: 75.5vw;
    left: 63.3vw;
    transform: rotate(84deg);
  }
  .friend__roadArrowTablet:nth-child(2) {
    top: 153.5vw;
    left: 63.3vw;
  }
}

.friend__roadArrow {
  margin-top: 3.8vw;
  height: 2.3vw;
}

.friend__roadArrow.friend__roadArrowLast {
  margin-top: 3.6vw;
}

@media screen and (max-width: 1000px) {
  .friend__roadArrow {
    margin-top: 6vw;
    height: 3.7vw;
  }
  .friend__roadArrow.friend__roadArrowLast {
    margin-top: 6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__roadArrow {
    display: none;
  }
}

.friend__btn {
  width: 18.63vw;
  height: 3.38vw;
  margin-top: 3.74vw;
  padding-left: 0.2vw;
  border: none;
  border-radius: 1.56vw;
  background: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  color: #ffffff;
  text-transform: uppercase;
}

.friend__btn:hover {
  background: #E47209;
}

.friend__btn:active {
  background: #4B9200;
}

.friend__btn:disabled {
  background: #767474;
}

@media screen and (max-width: 1000px) {
  .friend__btn {
    width: 29.8vw;
    height: 5.4vw;
    margin-top: 7vw;
    margin-right: 0;
    padding: 0;
    border-radius: 2.5vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .friend__btn {
    width: 46.56vw;
    height: 8.44vw;
    margin-top: 6.2vw;
    margin-right: 0;
    padding-left: 0.5vw;
    border-radius: 3.91vw;
    -webkit-border-radius: 3.91vw;
    -moz-border-radius: 3.91vw;
    -ms-border-radius: 3.91vw;
    -o-border-radius: 3.91vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .friend__btn {
    width: 93.4vw;
    height: 16.7vw;
    margin-top: 9.6vw;
    border-radius: 7.91vw;
    -webkit-border-radius: 7.91vw;
    -moz-border-radius: 7.91vw;
    -ms-border-radius: 7.91vw;
    -o-border-radius: 7.91vw;
    font-size: 5vw;
  }
}

.testimonials {
  height: 57.44vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/images/main/testimonials/backgroundTestimonials.png);
  background-position-x: right;
  background-position-y: 40.18vw;
  background-size: 15.45vw;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .testimonials {
    height: 84.2vw;
    background-position-y: 60.4vw;
    background-size: 19.45vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials {
    height: 104.3vw;
    background-position-y: 83.4vw;
    background-position-x: 82vw;
    background-size: 19vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials {
    height: 181.3vw;
    background-position-y: 160.4vw;
    background-position-x: 82vw;
    background-size: 19vw;
  }
}

.testimonials__container {
  width: 72.6vw;
  height: 39.8vw;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .testimonials__container {
    width: 93.8vw;
    height: 63.9vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__container {
    width: 93.8vw;
    height: 85.4vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__container {
    height: 163.4vw;
  }
}

.testimonials__title {
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 130%;
  text-align: center;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .testimonials__title {
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__title {
    font-size: 5.63vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__title {
    font-size: 7.50vw;
  }
}

.testimonials__border {
  overflow: hidden;
  margin-top: 2.94vw;
}

.testimonials__border::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 1000px) {
  .testimonials__border {
    margin-top: 2.8vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__border {
    height: 56vw;
    margin-top: 4.7vw;
    overflow: scroll;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__border {
    height: 113vw;
    margin-top: 6vw;
  }
}

.testimonials__reviewsContainer {
  width: 72.50vw;
  display: grid;
  grid-template-columns: repeat(11, 16.75vw);
  grid-column-gap: 1.88vw;
  transition: transform .3s;
  will-change: transform;
}

@media screen and (max-width: 1000px) {
  .testimonials__reviewsContainer {
    width: 94vw;
    grid-template-columns: repeat(11, 29.3vw);
    grid-column-gap: 2.88vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__reviewsContainer {
    width: 94vw;
    grid-template-columns: 93.75vw;
    grid-template-rows: repeat(11, 17.03vw);
    grid-gap: 2.2vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__reviewsContainer {
    grid-template-rows: repeat(11, 34.06vw);
    grid-gap: 4.6vw;
  }
}

.testimonials__review {
  width: 16.75vw;
  height: 24.44vw;
  padding: 0.8vw 0.8vw 1.19vw 0.85vw;
  border: 0.13vw solid #0000;
  border-radius: 1.25vw;
  background: linear-gradient(#F1F3F2, #F1F3F2) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
}

@media screen and (max-width: 1000px) {
  .testimonials__review {
    width: 29.3vw;
    height: 39.1vw;
    padding: 1.4vw 1.8vw 1.19vw 1.35vw;
    border-radius: 2vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__review {
    width: 93.75vw;
    height: 17.03vw;
    padding: 1.9vw 1.8vw 1.19vw 1.7vw;
    border-radius: 3vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__review {
    height: 34.06vw;
    padding: 2.9vw 1.8vw 3.19vw 3.7vw;
    border-radius: 7vw;
  }
}

.testimonials__person {
  display: flex;
}

.testimonials__personeImg {
  width: 2.31vw;
  height: 2.31vw;
  border-radius: 3vw;
}

@media screen and (max-width: 1000px) {
  .testimonials__personeImg {
    width: 3.7vw;
    height: 3.7vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__personeImg {
    width: 5.78vw;
    height: 5.78vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__personeImg {
    width: 11.56vw;
    height: 11.56vw;
  }
}

.testimonials__personeInfo {
  margin-left: 0.63vw;
  text-transform: capitalize;
}

@media screen and (max-width: 1000px) {
  .testimonials__personeInfo {
    margin-left: 0.95vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__personeInfo {
    margin-left: 1.6vw;
  }
}

.testimonials__personeName {
  font-weight: 400;
  font-size: 1vw;
  line-height: 120%;
  color: #000000;
}

@media screen and (max-width: 1000px) {
  .testimonials__personeName {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__personeName {
    font-size: 2.50vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__personeName {
    font-size: 5vw;
  }
}

.testimonials__personeLocation {
  display: flex;
  font-weight: 300;
  font-size: 0.94vw;
  line-height: 120%;
  color: #BDBDBD;
}

@media screen and (max-width: 1000px) {
  .testimonials__personeLocation {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__personeLocation {
    margin-top: 0.3vw;
    font-size: 2.34vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__personeLocation {
    font-size: 4.69vw;
  }
}

.testimonials__separator {
  width: 0.31vw;
  margin: 0 0.4vw;
}

@media screen and (max-width: 1000px) {
  .testimonials__separator {
    margin: 0 0.8vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__separator {
    margin: 0 1vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__separator {
    margin: 0 2.5vw;
  }
}

.testimonials__text {
  height: 19.31vw;
  margin-top: 0.65vw;
  font-weight: 300;
  font-size: 0.94vw;
  line-height: 120%;
  color: #767474;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .testimonials__text {
    height: 29vw;
    margin-top: 1vw;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__text {
    height: 5vw;
    width: 87vw;
    margin-top: 2vw;
    margin-left: 1vw;
    font-size: 2.34vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__text {
    height: 12vw;
    width: 87vw;
    margin-top: 3.4vw;
    margin-left: 2vw;
    font-size: 4.69vw;
  }
}

.testimonials__range {
  height: 0.50vw;
  width: 37.44vw;
  margin-top: 1.3vw;
  margin-left: 17.5vw;
  border: 0.03vw solid #0000;
  border-radius: 0.31vw;
  background: linear-gradient(#F5F7F6, #F5F7F6) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
  appearance: none;
}

.testimonials__range::-webkit-slider-thumb {
  height: 0.38vw;
  width: 7.19vw;
  background: #FE9013;
  border-radius: 0.31vw;
  appearance: none;
}

@media screen and (max-width: 1000px) {
  .testimonials__range {
    height: 0.8vw;
    width: 39vw;
    margin-top: 2.1vw;
    margin-left: 26.8vw;
    border-radius: 0.5vw;
  }
  .testimonials__range::-webkit-slider-thumb {
    height: 0.6vw;
    width: 7.5vw;
    border-radius: 0.5vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__range {
    display: none;
  }
}

.testimonials__btnFeedback {
  width: 18.63vw;
  height: 3.38vw;
  margin-top: 1.94vw;
  border: none;
  border-radius: 0.31vw;
  background: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  color: #ffffff;
  text-transform: uppercase;
}

.testimonials__btnFeedback:hover {
  background: #E47209;
}

.testimonials__btnFeedback:active {
  background: #4B9200;
}

.testimonials__btnFeedback:disabled {
  background: #767474;
}

@media screen and (max-width: 1000px) {
  .testimonials__btnFeedback {
    width: 29.8vw;
    height: 5.4vw;
    margin-top: 5.2vw;
    margin-right: 0;
    padding: 0;
    border-radius: 0.5vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .testimonials__btnFeedback {
    width: 37.5vw;
    height: 8.44vw;
    margin: 6.1vw 0 0 28vw;
    padding-left: 0.4vw;
    padding-top: 0vw;
    border-radius: 0.78vw;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .testimonials__btnFeedback {
    width: 75vw;
    height: 16.7vw;
    margin-top: 8vw;
    margin-left: 9.5vw;
    border-radius: 1.91vw;
    -webkit-border-radius: 1.91vw;
    -moz-border-radius: 1.91vw;
    -ms-border-radius: 1.91vw;
    -o-border-radius: 1.91vw;
    font-size: 5vw;
  }
}

.popup__container {
  height: 54vh;
  width: 55vw;
  top: 23vh;
  left: 22.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 5;
}

@media screen and (max-width: 320px) {
  .popup__container {
    height: 54vh;
    width: 90vw;
    top: 23vh;
    left: 5vw;
  }
}

.popup__container .popup__close {
  position: absolute;
  top: 0vw;
  right: 0vw;
  font-size: 8vw;
  color: #FE9013;
  line-height: 4vw;
}

@media screen and (max-width: 320px) {
  .popup__container .popup__close {
    font-size: 12vw;
    line-height: 6vw;
  }
}

.popup__container .testimonials__review {
  width: 41.72vw;
  height: 44.09vh;
  padding: 1.6vw 1.6vw 2.4vw 1.7vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__review {
    width: 66.72vw;
    height: 44.09vh;
  }
}

.popup__container .testimonials__personeImg {
  width: 5.78vw;
  height: 5.78vw;
  border-radius: 6vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__personeImg {
    width: 11.56vw;
    height: 11.56vw;
  }
}

.popup__container .testimonials__personeInfo {
  margin-left: 1.26vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__personeInfo {
    margin-left: 1.6vw;
  }
}

.popup__container .testimonials__personeName {
  font-size: 2.50vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__personeName {
    font-size: 5vw;
  }
}

.popup__container .testimonials__personeLocation {
  font-size: 2.34vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__personeLocation {
    font-size: 4.69vw;
  }
}

.popup__container .testimonials__separator {
  width: 0.62vw;
  margin: 0 0.8vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__separator {
    margin: 0 2.5vw;
  }
}

.popup__container .testimonials__text {
  min-height: 35vh;
  width: 37vw;
  margin-top: 1.3vw;
  font-size: 2.34vw;
  overflow-y: scroll;
}

.popup__container .testimonials__text p {
  width: 34vw;
}

.popup__container .testimonials__text::-webkit-scrollbar {
  width: 1vw;
}

@media screen and (max-width: 320px) {
  .popup__container .testimonials__text {
    min-height: 37vh;
    width: 60vw;
    font-size: 4vw;
  }
  .popup__container .testimonials__text p {
    width: 56vw;
  }
  .popup__container .testimonials__text::-webkit-scrollbar {
    width: 2vw;
  }
}
