@import '../../../assets/styles/variables.scss';

.about__technologyList {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about__technology {
  width: 270px;
  height: 270px;
  padding: 30px;
  margin-right: 40px;
  margin-top: 40px;
  background: $bgDark;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: default;

  &:nth-child(4),
  &:last-child {
    margin-right: 0;
  }
}

.about__technologyImg {
  height: 120px;
  width: 120px;
  background-image: url(../../../assets/icons/iconSass.svg);
  background-size: cover;
}

.about__technologyTitle {
  font-size: 36px;
  color: $textColor;
}