.watch {
  height: 24.1vw;
  background-image: url(../../assets/images/donate/panda_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 1000px) {
  .watch {
    height: 39vw;
    background-position: -17vw 0;
  }
}

@media screen and (max-width: 640px) {
  .watch {
    height: 57.71vw;
    padding-top: 5.31vw;
    background-position: -47vw 4vw;
    background-size: 226vw;
  }
}

@media screen and (max-width: 320px) {
  .watch {
    height: 69.03vw;
    padding-top: 10.63vw;
    background-position: -53vw 9vw;
    background-size: 256vw;
  }
}

.feed {
  height: 92.63vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

@media screen and (max-width: 1000px) {
  .feed {
    height: 133.3vw;
  }
}

@media screen and (max-width: 640px) {
  .feed {
    height: 208.3vw;
  }
}

@media screen and (max-width: 320px) {
  .feed {
    height: 358.3vw;
  }
}

.feed__container {
  width: 72.50vw;
}

@media screen and (max-width: 1000px) {
  .feed__container {
    width: 94vw;
  }
}

.feed__headerBox {
  margin-top: 2.6vw;
}

@media screen and (max-width: 1000px) {
  .feed__headerBox {
    margin-top: 4vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__headerBox {
    margin-top: 4.3vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__headerBox {
    margin-top: 9vw;
  }
}

.feed__title {
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 130%;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .feed__title {
    width: 80vw;
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__title {
    width: 90vw;
    font-size: 3.75vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__title {
    width: 90vw;
    line-height: 125%;
    font-size: 7.5vw;
  }
}

.feed__description {
  margin-top: 0.54vw;
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .feed__description {
    margin-top: 3vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__description {
    margin-top: 3vw;
    line-height: 135%;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__description {
    margin-top: 6vw;
    line-height: 137%;
    font-size: 5vw;
  }
}

.feed__donationInfo {
  margin-top: 2.85vw;
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 130%;
  color: #FE9013;
}

@media screen and (max-width: 1000px) {
  .feed__donationInfo {
    margin-top: 4.6vw;
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donationInfo {
    margin-top: 5vw;
    font-size: 5.63vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donationInfo {
    margin-top: 9vw;
    font-size: 7.5vw;
  }
}

.feed__donateContainer {
  margin-top: 3.7vw;
  height: 60.25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25vw;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 1000px) {
  .feed__donateContainer {
    height: 92vw;
    margin-top: 3.7vw;
    border-radius: 2vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateContainer {
    height: 143.44vw;
    margin-top: 4.7vw;
    border-radius: 3.13vw;
    -webkit-border-radius: 3.13vw;
    -moz-border-radius: 3.13vw;
    -ms-border-radius: 3.13vw;
    -o-border-radius: 3.13vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateContainer {
    height: 184.6vw;
    margin-top: 9.2vw;
    border-radius: 6.13vw;
    -webkit-border-radius: 6.13vw;
    -moz-border-radius: 6.13vw;
    -ms-border-radius: 6.13vw;
    -o-border-radius: 6.13vw;
  }
}

.feed__donateTitle {
  margin-top: 2.5vw;
  padding-right: 0.82vw;
  font-weight: 400;
  font-size: 3vw;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}

@media screen and (max-width: 1000px) {
  .feed__donateTitle {
    margin-top: 2.2vw;
    padding-right: 1.4vw;
    font-size: 4.8vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateTitle {
    margin-top: 4.6vw;
    padding-right: 0;
    font-size: 7.50vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateTitle {
    margin-top: 6.6vw;
  }
}

.feed__donateTitleDescription {
  margin-top: 1.35vw;
  padding-right: 8.32vw;
  font-weight: 400;
  font-size: 1.50vw;
  line-height: 120%;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .feed__donateTitleDescription {
    margin-top: 1.1vw;
    padding-right: 0.4vw;
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateTitleDescription {
    margin-top: 3.3vw;
    font-size: 3.75vw;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateTitleDescription {
    margin-top: 3.5vw;
    line-height: 125%;
    font-size: 5vw;
  }
}

.feed__daysEat {
  width: 33.3vw;
  margin-top: 3.7vw;
  margin-right: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .feed__daysEat {
    width: 54vw;
    margin-top: 6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__daysEat {
    width: 84.4vw;
    margin-top: 8vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__daysEat {
    width: 93vw;
    margin-top: 3.8vw;
  }
}

.feed__daysContainer {
  margin-top: 3.5vw;
}

@media screen and (max-width: 1000px) {
  .feed__daysContainer {
    margin-top: 5.5vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__daysContainer {
    margin-top: 9.5vw;
  }
}

.feed__days {
  font-weight: 500;
  font-size: 4.50vw;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media screen and (max-width: 1000px) {
  .feed__days {
    font-size: 7.2vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__days {
    font-size: 11.25vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__days {
    font-size: 13vw;
  }
}

.feed__daysDescription {
  margin-top: 0.7vw;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  text-align: center;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .feed__daysDescription {
    margin-top: 1.1vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__daysDescription {
    margin-top: 1.1vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__daysDescription {
    margin-top: 2.1vw;
    font-size: 2.81vw;
  }
}

.feed__imgMultiply {
  height: 0.88vw;
  width: 0.88vw;
  margin: 1.7vw 4vw 0 0.69vw;
}

@media screen and (max-width: 1000px) {
  .feed__imgMultiply {
    height: 1.5vw;
    width: 1.5vw;
    margin: 2.7vw 5vw 0 1vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__imgMultiply {
    height: 2.19vw;
    width: 2.19vw;
    margin: 4vw 10vw 0 1vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__imgMultiply {
    height: 2.6vw;
    width: 2.6vw;
    margin: 5vw 10vw 0 1vw;
  }
}

.feed__imgAnimal {
  width: 17.75vw;
  height: 15.38vw;
}

@media screen and (max-width: 1000px) {
  .feed__imgAnimal {
    height: 24.6vw;
    width: 30vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__imgAnimal {
    height: 38.44vw;
    width: 44.38vw;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__imgAnimal {
    height: 43.44vw;
    width: 50.38vw;
    margin-right: -1vw;
  }
}

.feed__switcher {
  margin-top: 3vw;
}

@media screen and (max-width: 1000px) {
  .feed__switcher {
    margin-top: 4.8vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__switcher {
    margin-top: 6.2vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__switcher {
    margin-top: 1.2vw;
  }
}

.feed__switcherLabel {
  margin-left: 0.25vw;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  color: #000000;
}

@media screen and (max-width: 1000px) {
  .feed__switcherLabel {
    margin-left: 0;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__switcherLabel {
    margin-left: 1.7vw;
    font-size: 2.50vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__switcherLabel {
    margin-left: 0vw;
    font-size: 5vw;
  }
}

.feed__switcherBackground {
  width: 61vw;
  height: 1.69vw;
  margin-top: 1.01vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #404950;
  border-radius: 0.13vw;
}

@media screen and (max-width: 1000px) {
  .feed__switcherBackground {
    width: 81.1vw;
    height: 2.7vw;
    margin-top: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__switcherBackground {
    width: 93.75vw;
    height: 4.3vw;
    margin-top: 1vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__switcherBackground {
    height: 4.3vw;
    margin-top: 2.5vw;
  }
}

.feed__switcherContainer {
  width: 57.5vw;
  height: 0.13vw;
  background: #72828E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .feed__switcherContainer {
    width: 78.5vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__switcherContainer {
    width: 82.5vw;
  }
}

.feed__radioItem {
  width: 0.63vw;
  height: 0.63vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feed__radioItem label {
  width: 5vw;
  font-weight: 500;
  font-size: 1.63vw;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
  cursor: pointer;
}

.feed__radioItem label::before {
  content: "";
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute;
  right: -0.8vw;
  top: -0.95vw;
  background: url(../../assets/icons/donate/circle.svg);
  background-repeat: no-repeat;
  background-size: 0.63vw;
  background-position: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .feed__radioItem label {
    font-size: 2.6vw;
  }
  .feed__radioItem label::before {
    content: "";
    display: inline-block;
    width: 4vw;
    height: 4vw;
    position: absolute;
    right: -1.5vw;
    top: -1.5vw;
    background: url(../../assets/icons/donate/circle.svg);
    background-repeat: no-repeat;
    background-size: 1vw;
    background-position: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 640px) {
  .feed__radioItem label {
    font-size: 4.06vw;
  }
  .feed__radioItem label::before {
    content: "";
    display: inline-block;
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 50%;
    position: absolute;
    right: -2.5vw;
    top: -2.5vw;
    background: url(../../assets/icons/donate/circle.svg);
    background-repeat: no-repeat;
    background-size: 1.56vw;
    background-position: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .feed__radioItem {
    width: 1vw;
    height: 1vw;
  }
  .feed__radioItem:first-child {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .feed__radioItem {
    width: 1.56vw;
    height: 1.56vw;
  }
  .feed__radioItem:first-child, .feed__radioItem:nth-child(2), .feed__radioItem:nth-child(3) {
    display: none;
  }
}

.feed__radioItemDescription {
  width: 7vw;
  margin-top: 1.95vw;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.feed__radioItemDescription span {
  margin-left: 0.4vw;
  margin-top: 0.1vw;
  font-size: 1.4vw;
}

@media screen and (max-width: 1000px) {
  .feed__radioItemDescription {
    margin-top: 3.1vw;
  }
  .feed__radioItemDescription span {
    margin-left: 0.9vw;
    margin-top: 0.2vw;
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__radioItemDescription {
    margin-top: 4.8vw;
  }
  .feed__radioItemDescription span {
    margin-left: -1.4vw;
    font-size: 3.7vw;
  }
}

.feed__switcherCheckbox {
  display: none;
}

.feed__switcherCheckbox:checked + .feed__radioItemDescription {
  color: #FE9013;
}

.feed__switcherCheckbox:checked + .feed__radioItemDescription::before {
  content: "";
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 1vw;
  position: absolute;
  right: -0.8vw;
  top: -0.95vw;
  background: url(../../assets/icons/donate/roller_icon.svg), url(../../assets/icons/donate/circle.svg);
  background-repeat: no-repeat;
  background-size: 2.5vw, 0.63vw;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .feed__switcherCheckbox:checked + .feed__radioItemDescription {
    font-size: 2.6vw;
  }
  .feed__switcherCheckbox:checked + .feed__radioItemDescription::before {
    content: "";
    display: inline-block;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position: absolute;
    right: -1.5vw;
    top: -1.5vw;
    background: url(../../assets/icons/donate/roller_icon.svg), url(../../assets/icons/donate/circle.svg);
    background-repeat: no-repeat;
    background-size: 4vw, 1vw;
    background-position: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media screen and (max-width: 640px) {
  .feed__switcherCheckbox:checked + .feed__radioItemDescription {
    font-size: 4.06vw;
  }
  .feed__switcherCheckbox:checked + .feed__radioItemDescription::before {
    content: "";
    display: inline-block;
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 50%;
    position: absolute;
    right: -2.5vw;
    top: -2.5vw;
    background: url(../../assets/icons/donate/roller_icon.svg), url(../../assets/icons/donate/circle.svg);
    background-repeat: no-repeat;
    background-size: 6.25vw, 1.56vw;
    background-position: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.feed__amount {
  width: 16.75vw;
  height: 3.38vw;
  margin-top: 6.15vw;
  padding-left: 0.5vw;
  padding-right: 1.5vw;
  background: none;
  border: 0.06vw solid #929699;
  border-radius: 0.13vw;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  color: #929699;
  background-image: url(../../assets/icons/donate/dollar.svg);
  background-repeat: no-repeat;
  background-position: 15.5vw;
  background-size: 0.6vw;
  outline: none;
  cursor: text;
}

.feed__amount:not(:placeholder-shown):valid {
  color: #4B9200;
  border: 0.06vw solid #4B9200;
}

.feed__amount:not(:placeholder-shown):invalid {
  color: #D31414;
  border: 0.06vw solid #D31414;
}

.feed__amount::-webkit-inner-spin-button {
  appearance: none;
}

@media screen and (max-width: 1000px) {
  .feed__amount {
    width: 26.8vw;
    height: 5.4vw;
    margin-top: 9.8vw;
    padding-left: 0.8vw;
    padding-right: 3vw;
    border-radius: 0.2vw;
    font-size: 1.6vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    -ms-border-radius: 0.2vw;
    -o-border-radius: 0.2vw;
    background-position: 24.7vw;
    background-size: 1vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__amount {
    width: 28.13vw;
    height: 6.56vw;
    margin-top: 15.2vw;
    border-radius: 0.16vw;
    font-size: 2.50vw;
    -webkit-border-radius: 0.16vw;
    -moz-border-radius: 0.16vw;
    -ms-border-radius: 0.16vw;
    -o-border-radius: 0.16vw;
    background-size: 1.5vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__amount {
    width: 56.25vw;
    height: 13.13vw;
    padding-left: 1.6vw;
    padding-right: 7vw;
    font-size: 5vw;
    background-size: 3vw;
    background-position: 49.7vw;
  }
}

.feed__donateTypeContainer {
  width: 13.6vw;
  margin-left: 1.6vw;
  margin-top: 1.55vw;
  display: flex;
  justify-content: space-between;
}

.feed__donateTypeContainer label {
  width: 5.25vw;
  padding-left: 1vw;
  position: relative;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  color: #333B41;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .feed__donateTypeContainer label {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateTypeContainer label {
    width: 7.25vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateTypeContainer label {
    width: 19.5vw;
    font-size: 5vw;
  }
}

.feed__donateTypeContainer p {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .feed__donateTypeContainer {
    width: 18.7vw;
    margin-left: 0.6vw;
    margin-top: 2.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateTypeContainer {
    width: 28.7vw;
    margin-left: 0.6vw;
    margin-top: 4.9vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateTypeContainer {
    width: 61.4vw;
    margin-left: 7.5vw;
    margin-top: 7.9vw;
  }
}

.feed__donateTypeRadio {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 0.1vw solid #E47209;
  position: absolute;
  right: 4.9vw;
  top: 0.15vw;
  cursor: pointer;
  transition-duration: 300ms;
}

@media screen and (max-width: 1000px) {
  .feed__donateTypeRadio {
    width: 1.6vw;
    height: 1.6vw;
    right: 5.3vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateTypeRadio {
    width: 2.5vw;
    height: 2.5vw;
    right: 7.6vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateTypeRadio {
    width: 5vw;
    height: 5vw;
    right: 21.6vw;
  }
}

.feed__donateType {
  display: none;
}

.feed__donateType:checked + p {
  cursor: pointer;
}

.feed__donateType:checked + .feed__donateTypeRadio {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: none;
  background: #4B9200;
  position: absolute;
  right: 4.9vw;
  top: 0.15vw;
}

@media screen and (max-width: 1000px) {
  .feed__donateType:checked + .feed__donateTypeRadio {
    width: 1.6vw;
    height: 1.6vw;
    right: 5.4vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__donateType:checked + .feed__donateTypeRadio {
    width: 2.5vw;
    height: 2.5vw;
    right: 7.8vw;
    top: 0.3vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__donateType:checked + .feed__donateTypeRadio {
    width: 5vw;
    height: 5vw;
    right: 21.6vw;
  }
}

.feed__btnFeed {
  width: 18.63vw;
  height: 3.38vw;
  margin-top: 1.85vw;
  margin-left: 0.4vw;
  padding-left: 0.2vw;
  border: none;
  border-radius: 1.56vw;
  background: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  color: #ffffff;
  text-transform: uppercase;
}

.feed__btnFeed:hover {
  background: #E47209;
}

.feed__btnFeed:active {
  background: #4B9200;
}

.feed__btnFeed:disabled {
  background: #767474;
}

@media screen and (max-width: 1000px) {
  .feed__btnFeed {
    width: 29.8vw;
    height: 5.4vw;
    margin-top: 2.9vw;
    margin-right: 0;
    padding: 0;
    border-radius: 2.5vw;
    font-size: 1.6vw;
    -webkit-border-radius: 2.5vw;
    -moz-border-radius: 2.5vw;
    -ms-border-radius: 2.5vw;
    -o-border-radius: 2.5vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__btnFeed {
    width: 46.56vw;
    height: 8.44vw;
    margin-top: 4.5vw;
    padding-left: 0.5vw;
    border-radius: 3.91vw;
    -webkit-border-radius: 3.91vw;
    -moz-border-radius: 3.91vw;
    -ms-border-radius: 3.91vw;
    -o-border-radius: 3.91vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__btnFeed {
    width: 93.4vw;
    height: 16.7vw;
    margin-top: 8.4vw;
    border-radius: 7.91vw;
    -webkit-border-radius: 7.91vw;
    -moz-border-radius: 7.91vw;
    -ms-border-radius: 7.91vw;
    -o-border-radius: 7.91vw;
    font-size: 5vw;
  }
}

.feed__share {
  margin-top: 1.9vw;
  margin-left: 0.2vw;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  color: #333B41;
}

@media screen and (max-width: 1000px) {
  .feed__share {
    margin-top: 3vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 640px) {
  .feed__share {
    margin-top: 4.7vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 320px) {
  .feed__share {
    width: 94vw;
    margin-top: 9.3vw;
    font-size: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  .footer__contactsContainer {
    margin-left: 1.2vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__donateBtn {
    margin-right: 2.2vw;
  }
}

@media screen and (max-width: 1000px) {
  .footer__navigationContainer {
    margin: 0 -10.9vw 1.3vw -0.7vw;
  }
}

@media screen and (max-width: 640px) {
  .footer__navigationContainer {
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer__subscribe {
    margin-right: 4.5vw;
  }
}

@media screen and (max-width: 1000px) {
  .footer__design {
    margin-right: 1.3vw;
  }
}
