@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
  color: #292F36;
}

.header {
  height: 106px;
  display: flex;
  justify-content: center;
}

.header__nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navBar {
  display: flex;
  list-style-type: none;
}

.header__navPages {
  margin-left: 40px;
  font-size: 20px;
}

.header__navPages :hover {
  color: #CDA274;
}

.header__navPages--active a {
  color: #CDA274;
}


