@import '../assets/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arodoba;
}

body {
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  scroll-behavior: smooth;
  cursor: default;
}

a {
  text-decoration: none;
  color: $textColor;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 20px;
  
  display: flex;
  flex-direction: column;
  flex-basis: 1200px;

  @media screen and (max-width: 1000px) {
    overflow: hidden;
  }
}

::-webkit-scrollbar-track {
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
}

::-webkit-scrollbar{
  width: 11px;
}

@font-face {
  font-family: arodoba;
  src: url(../assets/fonts/ArodoraPro-Light.otf);
}

@font-face {
  font-family: NextArt;
  font-weight: 700;
  src: url(../assets/fonts/NextArt_Bold.otf);
}

@font-face {
  font-family: NextArt;
  font-weight: 400;
  src: url(../assets/fonts/NextArt_Regular.otf);
}

@font-face {
  font-family: NextArt;
  font-weight: 600;
  src: url(../assets/fonts/NextArt_SemiBold.otf);
}