@import '../assets/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arodoba;
}

body {
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $textColor;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: arodoba;
  src: url(../assets/fonts/ArodoraPro-Light.otf);
}

@font-face {
  font-family: NextArt;
  src: url(../assets/fonts/NextArt_Bold.otf);
}