@import '../../assets/styles/variables.scss';

#portfolio {
  height: 1000px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 700px;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 1000px) {
    height: 860px;
    margin-top: 80px;
    
    align-items: flex-start;
  }

  @media screen and (max-width: 640px) {
    height: auto;
    margin-top: 40px;

    .container {
      height: 110vw;
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 555px) {
    margin-top: 40px;

    .container {
      margin: 0 0 40px;
    }
  }
}

.portfolio__title {
  font-size: 48px;
  text-transform: uppercase;
  font-family: $fontTitle;
  color: $textColor;

  @media screen and (max-width: 555px) {
    font-size: 9vw;
  }
}

.portfolio__sliderBox {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
}

.portfolio__btn {
  height: 60px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  background: $orangeGradient;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 2px 13px black;
  font-size: 30px;
  color: $textColor;
  
  &:hover {
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }

  &:active {
    background: $primaryColor;
    box-shadow: 0 0 25px $primaryColor;
  }

  @media screen and (max-width: 1000px) {
    position: absolute;
    bottom: 50px;

    &Right {
      right: 35%;
    }

    &Left {
      right: 60%;
    }
  }

  @media screen and (max-width: 640px) {
    display: none;
  }
}

.portfolio__btnMobile {
  position: absolute;

  display: none;

  border: none;
  background: none;
  color: rgba($color: orange, $alpha: 0.3);
  font-size: 22vw;

  &:hover {
    text-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    color: rgba($color: orange, $alpha: 1);
  }

  &:active {
    text-shadow: 0px 2px 13px $primaryColor;
    color: rgba($color: $primaryColor, $alpha: 1);
  }

  @media screen and (max-width: 640px) {
    bottom: 35%;

    display: flex;

    &Right {
      right: 8%;
    }

    &Left {
      left: 8%;
    }
  }

  @media screen and (max-width: 555px) {

    &Right {
      right: 3%;
    }

    &Left {
      left: 3%;
    }
  }
}

.portfolio__slider {
  width: 80%;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $bgLightGradient;
  box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  
  @media screen and (max-width: 640px) {
    height: 95vw;
  }

  @media screen and (max-width: 555px) {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
