@import '../../assets/styles/variables.scss';

#about {
  min-height: 1850px;
  z-index: 1;

  display: flex;
  justify-content: center;
  background: $bgLightGradient;
  scroll-margin-top: 70px;

  @media screen and (max-width: 1200px) {
    min-height: auto;
  }

  @media screen and (max-width: 630px) {
    height: 40px;
    scroll-margin-top: 12.61vw;

    .container {
      display: none;
    }
  }
}

