@import '../../assets/styles/variables.scss';

#about {
  min-height: 1850px;
  display: flex;
  justify-content: center;
  background: $bgLightGradient;

  @media screen and (max-width: 1100px) {
    min-height: auto;
  }
}

